<% provide(:title, "About") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>About</h1>
    <hr>
  </div>
  <div class="col-md-6 col-md-offset-3 information">
    <p>
      Contacting your local, state, and federal representative is far harder than it should be. Do you even know your representative? If you know your representatives, when was the last time you called or wrote? 
    </p>
    <p>
      Representatives have two objectives:
      <ul>
	<li style="font-size:1.1em;">
	  Keep constituents happy enough to keep voting for them
	</li>
	<li style="font-size:1.1em;">	  
	  Get supporters to turn out to vote (advertising via fund raising)
	</li>
      </ul>
    </p>
    <p>
      What is often overlooked is how difficult it is for representatives to know how their constituents feel about given legislation. Further, many policies & bills at the local, state and federal and are often discussed simultaneously. You need to contact your representation at all levels.<br><br>It's impossible for our representatives to survey their district / region on every topic. Worse, your representatives often engage over social media, often censored today.
    </p>
    <hr>
    <p>
      <b>We make it easy to engage your representatives.</b> In 30 seconds you can share your opinions with your representative. You can send a letter via post or fax (for a fee) or we provide their contact information, enabling you to call them yourself (for free). Those engaging with their representatives are far more likely to be donors and advocates, so reaching out will have a larger impact.
    </p>
    <hr>
    <p>
      <b>Why a letter or fax?</b><br><br>A letter is far more effective than email or contact form. Letters cannot be censored, sent to spam, and there's a physical reminder of your opinions.<br><br>Further, your return address and billing info is used to validate you're in district. This increases the confidence of the given representative that they are being informed by their constituients.
    </p>
    <p>
      <br>
      <b>Why VocalVoters.com?</b><br><br>It's better for representatives -- we validate you live in district via your billing info.<br><br>It's better for constituents -- we make it only a few clicks to make yourself herd in a meaningful way (and provide contact info).
    </p>
    <hr>
    <center><h3 id="how-it-works">How it Works</h3></center>
    <hr>
    <p>
      <b>Step 1</b>: Enter your name, email and address<br>
      <b>Step 2</b>: Select the legislator(s), you can select multiple<br>
      <b>Step 3</b>: Enter your concerns in the bar and click generate<br>
      <b>Step 4</b>: In a few seconds a PDF will be generated for review<br>
      <b>Step 5</b>: Select how you'd like to send the communication<br>
      <b>Step 6</b>: Enter billing info & click send - you'll be charged the listed fee<br>
      <b>Step 7</b>: On the backend, we ensure the letters are not violating the 1st amendment (i.e. immediate & specific threats to a group or individual).<br>
      <b>Step 8</b>: If a given letter breaks the law (or our terms), we will contact the authorities, issue a refund and not send the letter. 
    </p>
  </div>
</div>
