<% provide(:title, "About") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>About</h1>
    <hr>
  </div>
  <div class="col-md-6 col-md-offset-3 information">
    <p>
      Contacting your local, state, and federal representative is far harder than it should be. Do you even know your representative? If you know your representatives, when was the last time you called or wrote? 
    </p>
    <p>
      Representatives have two objectives:
      <ul>
	<li style="font-size:1.25em;">
	  Keep constituents happy enough to keep voting for them
	</li>
	<li style="font-size:1.25em;">	  
	  Get supporters to turn out to vote (advertising via fund raising)
	</li>
      </ul>
    </p>
    <p>
      What is often overlooked is how difficult it is for representatives to know how their constituents feel about given legislation. The reality is there are always many policies and bills at the local, state and federal being simultaneously discussed. It's impossible for our representatives to survey their district / region on every topic. Worse, your representatives often engage over social media, often censored today.
    </p>
    <p>
      <b>We make it easy to engage your representatives.</b> In 30 seconds you can share your opinions with your representative. You can send a letter via post or fax (for a fee) or we provide their contact information, enabling you to call them yourself (for free). Those engaging with their representatives are far more likely to be donors and advocates, so reaching out will have a larger impact.
    </p>
    <p>
      <b>Why a letter or fax?</b> A letter is far more effective than email or contact form. Letters cannot be censored, sent to spam, and there's a physical reminder of your opinions.
    </p>
  </div>
</div>
