<% provide(:title, "Help") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Help</h1>
    <hr>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4><center>How to Generate a Letter & Create a Referral Link</center></h4>
    <center>
      <iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2aaifa/?pub=ryexp" frameborder="0" allowfullscreen></iframe>
    </center>
    <div class='col-md-6 col-md-offset-3'>
      <b>Steps</b>
      <ul>
	<li>Login (as part of organization you wish to refer to)</li>
	<li>Generate Letter</li>
	<li>Edit letter, if you wish (this generates a new letter_id)</li>
	<li>Click "copy link"</li>
	<li>Share</li>
	<li>Note: If you edit, you need to copy a new referral link</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-8 col-md-offset-2"><hr></div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4><center>How to Approve or Decline a Letter to be Sent</center></h4>
    <center>
<iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2aajng/?pub=ryexp" frameborder="0" allowfullscreen></iframe>
    </center>
    <div class='col-md-6 col-md-offset-3'>
      <b>Steps</b>
      <ul>
	<li>Login (as part of organization you wish to refer to)</li>
	<li>Go-to "Communications" tab at the top and select "Post" (for Letters)</li>
	<li>Read over communication</li>
	<li>"Approve" or "Decline" to send a Letter</li>
	<li>Note: Mention to maintainer if a letter was declined</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-8 col-md-offset-2"><hr></div>  
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4><center>How to Invite Someone to an Organization</center></h4>
    <center>
      <iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2aakgw/?pub=ryexp" frameborder="0" allowfullscreen></iframe>
    </center>
    <div class='col-md-6 col-md-offset-3'>
      <b>Steps</b>
      <ul>
	<li>Login (as part of organization you wish to refer to)</li>
	<li>Go-to "Organization" tab at the top and select "Admin Page"</li>
	<li>On page, review the left side of the dashboard, click "Invite new user"</li>
	<li>Create user invite</li>
	<li>Note: Mention to new user to change their password on login</li>
      </ul>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-8 col-md-offset-2"><hr></div>  
</div>
