<% provide(:title, "Partner") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br><br>
    <h1>Partner With Us</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class='col-md-6 col-md-offset-3 information'>
    <br>
    <br>
    <p>
      Welcome to VocalVoters.com!<br>
      <br>
      Our objective is to provide an easy way to interface with our represntative form of government. To that end, we are happy to partner with individuals or organizations. 
    </p>
    <hr>    
    <p>
      <b>Why partner with us?</b></br>
      <br>
      We offer the following to partners:
      <ul>
	<li style="font-size:1.1em;">
	  <b>Create custom template communications</b> (share with members / followers)
	</li>
	<li style="font-size:1.1em;">
	  <b>Aggregate analytics</b> about the senders of a given template communication
	</li>
	<li style="font-size:1.1em;">
	  <b>Revenue sharing</b>, partners can raise funds by receiving processing fees
	</li>
      </ul>
    </p>
    <p>
      If this interests you, contact us at: support [at sign] vocalvoters.com
    </p>
  </div>
</div>
