<h1>VocalVoters</h1>

<p>
  Howdy <%= @user.name %>,
</p>

<p>
  Welcome to the VocalVoters! Click on the link below to activate your account:
</p>

<p>
  <%= link_to "Activate", edit_account_activation_url(
      @user.activation_token, email: @user.email, invite: @invite) %>
</p>

<p>
  <% if @invite %>
     <b>Please be sure to change password IMMEDIATELY after activation.</b>
  <% end %>
</p>
