<% provide(:title, 'Faxes') %>
<div class="row">
  <h1>Faxes</h1>
</div>
<div class="row">
  <center><%= will_paginate %></center>
  <div class="col-md-8 col-md-offset-2">
    <ul class="users">
      <%= render @faxes %>
    </ul>
  </div>
  <center><%= will_paginate %></center>
</div>
<div class="row">
  <%= link_to 'New Fax', new_fax_path %>
</div>

