<% provide(:title, 'Edit Letter') %>
<% provide(:button_text, 'Save changes') %>
<h1>Editing Letter</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form', letter: @letter %>
  </div>
</div>

<%= link_to 'Show', @letter %> |
<%= link_to 'Back', letters_path %>
