<% provide(:title, 'Posts') %>
<div class="row">
  <h1>Posts</h1>
</div>
<div class="row">
  <center><%= will_paginate %></center>
  <div class="col-md-8 col-md-offset-2">
    <ul class="users">
      <%= render @posts %>
    </ul>
  </div>
  <center><%= will_paginate %></center>
</div>
<div class="row">
  <%= link_to 'New Post', new_post_path %>
</div>
