<footer class="footer">
  <small>
    VocalVoters.com by Metacortex
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Login",   login_path %></li>
    </ul>
  </nav>
</footer>
